 
<div class="span5 offset7 boxy text-center">
<h1 class="h1-custom">HI, I'M JILL!</h1>

<br/>

<h2 class="h2">I'm having a ton of fun learning web development</h2>

<br/>
<br/>

<%= link_to 'Launch', '#', :class => 'btn btn-warning btn-large' %>

</div>