 
<div class="span5 offset4 boxy text-center">
<h1 class="h1-custom">Hello, I'm Jill!</h1>

<br/>

<h2 class="h2">I'm having a ton of fun learning web development</h2>

<br/>
<br/>

<%= link_to 'Launch', new_pic_path, :class => 'btn btn-danger btn-large' %>













</div>