 
<div class="span5 offset4 boxy text-center">
<h1 class="h1-custom">Hello, I'm Jill</h1>

<br/>

<h2 class="h2">Welcome to my first website! It doesn't do much, but I'm having a ton of fun learning web development</h2>

<h2 
<i class="icon-heart icon-white"></i>
<i class="icon-star icon-white"></i>
<i class="icon-thumbs-up icon-white"></i>
<i class="icon-glass icon-white"></i>
<i class="icon-music icon-white"></i>
</h2>

<br/>
<br/>

<%= link_to 'Launch', new_pic_path, :class => 'btn btn-danger btn-large' %>













</div>